@model FuelProject.Models.InventoryFuel


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal  col-md-offset-4 col-md-8" style="margin-top:20px">
        <h4>Инвентаризация дизельного топлива</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Datetimer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Datetimer, new { htmlAttributes = new { @class = "form-control date1" } })
                @Html.ValidationMessageFor(model => model.Datetimer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Measurement17, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Measurement17, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Measurement17, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Measurement25, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Measurement25, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Measurement25, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Measurement26, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Measurement26, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Measurement26, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Measurement27, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Measurement27, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Measurement27, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Measurement28, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Measurement28, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Measurement28, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Measurement29, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Measurement29, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Measurement29, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Measurement30, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Measurement30, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Measurement30, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/jquery.datetimepicker.js"></script>

<script>

    $(document).ready(function () {
       
        $('.date1').datetimepicker({
            dateformat: 'dd-mm-YY',
            timeformat:'hh-mm-ss'
            

        });
       



    });

</script>